@font-face {
    font-family: font-Game;
    src: url(../asset/Pony.ttf);
}

.game {
    background-image: url(../asset/bgGame.png);
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: font-Game;
    
} 

.btn-game {
    width: 150px;
    height:150px;
    font-size: 50px;
}
.detail {
    font-size: 50px;
}
